[submodule "nstore"]
	path = nstore
	url = https://github.com/winterNan/nstore
	branch = main
[submodule "mnemosyne-gcc"]
	path = mnemosyne-gcc
	url = https://github.com/winterNan/mnemosyne-gcc
	branch = main
[submodule "nvml"]
	path = nvml
	url = https://github.com/winterNan/nvml
	branch = main
[submodule "redis"]
	path = redis
	url = https://github.com/winterNan/redis
	branch = main
[submodule "PMFS-new"]
	path = PMFS-new
	url = https://github.com/winterNan/PMFS-new
	branch = main
[submodule "kv-echo"]
	path = kv-echo
	url = https://github.com/winterNan/kv-echo
	branch = main
[submodule "eliza"]
	path = eliza
	url = https://github.com/winterNan/eliza
	branch = main
